services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    container_name: keycloak
    command: start-dev --import-realm
    environment:
      KC_DB: postgres
      KC_DB_URL: ${KC_DB_URL}
      KC_DB_USERNAME: ${KC_DB_USERNAME}
      KC_DB_PASSWORD: ${KC_DB_PASSWORD}
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_HTTP_CORS_ENABLED: "true"
      KC_HOSTNAME: ${KEYCLOAK_ISSUER_URL}
    volumes:
      - ./reserva-espacios-realm.json:/opt/keycloak/data/import/realm.json
      - ./keycloak-theme/reserva-espacios:/opt/keycloak/themes/reserva-espacios
    ports:
      - "8080:8080"

  backend-app:
    container_name: reserva-espacios
    restart: unless-stopped
    image: ghcr.io/${{ github.repository }}:latest
    env_file:
      - ./.env
    ports:
      - "5001:5001"
